[submodule "characters"]
	path = characters
	url = https://github.com/elizaos/characters
[submodule "packages/plugin-multiversx"]
	path = packages/plugin-multiversx
	url = https://github.com/elizaos-plugins/plugin-multiversx.git
[submodule "packages/client-twitter"]
	path = packages/client-twitter
	url = https://github.com/elizaos-plugins/client-twitter.git
[submodule "packages/client-telegram"]
	path = packages/client-telegram
	url = https://github.com/elizaos-plugins/client-telegram.git
